*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(186, 240, 240);
}

.layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    max-height: 70%;
    min-width: 70%;
    background-color: rgb(219, 98, 98);
    border: 70px solid rgb(219, 98, 98);
    border-radius: 15px;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.square{
    border: 0.5px solid black;
    background-color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 72px;
    min-height: 512px;
}

.erase {
    width: 50%;
    min-height: 24px;
}

.form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}